.card {
  max-width: 350px;
  min-width: 320px;
  height: 50% !important;
  margin-top: 4em;
  max-width: 350px;
}

.card-congrat {
  height: 100%;
  display: flex;
  color: white;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: rgba(17, 24, 39, 1);
  box-shadow: rgb(0, 0, 0, 0.7) 5px 10px 50px, rgb(0, 0, 0, 0.7) -5px 0px 250px;
  width: 90%;
  justify-content: space-around;
  padding: 1.9rem 1.2rem;
  transform-style: preserve-3d;
  transition: transform 0.999s;
  border-radius: 15px;
  font-family: 'jost', sans-serif;
  font-size: 0.9rem;
  text-align: justify;
  margin: 0 auto;
}

.card-congrat h1 {
  font-size: 1rem;
  font-weight: 700;
  text-align: center;
  /* margin-bottom: 1.5rem; */
}

.card-congrat p {
  font-size: 0.9rem;
  /* margin-bottom: 1.5rem; */
}

.card-congrat span {
  text-align: center;
  display: block;
  padding: 0;
  margin: 0;
}