.logo-image {
  width: 70px;
  height: 70px;
}

.header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'jost', sans-serif;
  color: white;
  flex-direction: column-reverse;
}

.header-title {
  font-weight: 800;
  font-style: italic;
  font-size: 42px;
}

.montserrat-title {
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

@media screen and (max-width: 768px) {
  .header-title {
    font-size: 3em;
  }

  .header {
    padding-top: 1.4em;
  }

  .logo-image {
    width: 50px;
    height: 50px;
  }
  
}