* {
  background-image: url('./images/bgCaixa.jpg');
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.div-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
  background-color: #1f2029;
  border-radius: 4px;
  box-shadow: 0 8px 24px 0 rgb(0 0 0 / 20%);
  width: 100%;
  max-width: 400px;
}